* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color:#006D77;
    padding: 10px;
}
nav a {
    color: #EDF6F9;
    display: block;
    padding: 20px;
}
h1 {
    color: #006D77;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid #006D77;
    padding: 2px;
    box-shadow: 0 0 30px #EDF6F9;
}
p {
    padding: 10px;
}
aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #83C5BE;
    color: #EDF6F9;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
p { padding: 0; }
footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid #006D77;
    padding: 1rem;
    background-color: #EDF6F9;
    color: #006D77;
}
aside {
    width: 20em;
    text-align: center;
    position: relative
}
main img {
    float:right;
}
aside h2 {
    position: absolute;
    top: -6px;
    left: 120px;
}
ul {
    width: 20em;
    position: relative
}